[submodule "zsh/liquidprompt"]
	path = zsh/liquidprompt
	url = https://github.com/nojhan/liquidprompt
	branch = master
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
	branch = master
[submodule "vim/wuman-vimrc"]
	path = vim/wuman-vimrc
	url = https://github.com/bebehei/vimrc.git
	branch = changes-bene
[submodule "i3/i3lock-fancy"]
	path = i3/i3lock-fancy
	url = https://github.com/meskarune/i3lock-fancy.git
