[submodule "zsh/liquidprompt"]
	path = zsh/liquidprompt
	url = https://github.com/nojhan/liquidprompt
	branch = master
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
	branch = master
[submodule "vim/wuman-vimrc"]
	path = vim/wuman-vimrc
	url = https://github.com/bebehei/vimrc.git
	branch = changes-bene
[submodule "git/diff-so-fancy"]
	path = git/diff-so-fancy
	url = https://github.com/stevemao/diff-so-fancy.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
